.btn {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  color: #fff;
  font-weight: 500;
  /* background-image: linear-gradient(to right, #5e84f1 0%, #5e84f1 50%, #ffd600 51%, #ffd600 100%); */
  background-color: rgb(36, 34, 197);
  /* background-position: top left; */
  /* background-size: 210% 100%; */
  /* transition: all 250ms linear; */
  border-radius: 8px;
  margin-left: 3px;
  text-align: center;
  width:max-content;
}

.btn:hover {
  /* background-position: top right; */
  color: white;
  background: black;
  outline: 2px solid orange;
  transition: .5s;
 
}
